body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  line-height: 25px;
  background-color: #e9ebee;
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1300px;
  background-color: #ffffff;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}